{% extends "template.html" %}

{% load static %}

{% block nome_pagina %}
    <title>Alunos</title>
{% endblock %}

{% block btn_voltar_pagina %}
    <div class="label_menu_left">
        <a href="#">Voltar</a>
    </div>
{% endblock %}

{% block menus %}
    <div class="button-main">
        <div class="button">
            <a href="{% url 'cadastrar_aluno' %}"Cadastrar Aluno">
                <img src="{% static 'img/cadastrar.png' %}" alt="Cadastrar Aluno" width="64" height="64">
                <br>
                <p>Cadastrar<br>Aluno</p>
            </a>
        </div>

        <div class="button">
            <a href="{% url 'alterar_aluno' %}" title="Alterar Aluno">
                <img src="{% static 'img/editar.png' %}" alt="Alterar Aluno" width="64" height="64">
                <br>
                <p>Alterar<br>Aluno</p>
            </a>
        </div>

        <div class="button">
            <a href="{% url 'listar_alunos' %}" title="Listar Aluno">
                <img src="{% static 'img/listar.png' %}" alt="Listar Aluno" width="64" height="64">
                <br>
                <p>Listar<br>Alunos</p>
            </a>
        </div>
    </div>
{% endblock %}
