{% extends "template.html" %}

{% load static %}

{% block nome_pagina %}
    <title>Login</title>
{% endblock %}

{% block btn_sair %}
    
{% endblock %}

{% block menus %}
<section class="login-cadastro">

    <form class="card-login" action="" method="post">
        {% csrf_token %}
        
        <div class="card-header">
            <h2>Login</h2>
        </div>

        
        <div class="card-content">
            {{ form }}
        </div>
        <style>
            input {
                padding: 15px;
                width: 100%;
                box-sizing: border-box;
                background-color: #272323;
                border-radius: 10px;
                border-style: none;
                color: #ffffff;
                font-size: 90%;
                margin-bottom: 10px;
            }
        </style>
        
        <!-- <div class="card-content">
            <div class="card-cadastro-area">
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
        </div>
        
        <div class="card-content">
            <div class="card-cadastro-area">
                {{ form.password.errors }}
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
        </div> -->

        <div class="card-footer">
            <input type="submit" value="Entrar" class="submit">
        </div> 

    </form>

</section>
{% endblock %}
